@use '../../styles/variables.scss' as *;

.tab {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 300ms ease, color 300ms ease;

  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    color: $title-color;

    img {
      filter: brightness(0);
    }
  }

  &--dragging {
    background: $gray-color;
    color: #fff;
    transform-origin: 0 0;
    white-space: nowrap;

    img {
      filter: brightness(0) invert(1);
    }

    &:hover {
      color: #fff;

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}